body{
    background-color: #2E2E50;
}

#firstbox{
    display: flex;
	justify-content: center;
	align-items: center;
	height: 305px;
    margin-top: 70px; 
}
#AddressInfo{
    width: 450px;
    height: 324px;
    background-color: white;
    display: block;
    float: left;
    border-radius: 10px;
    
}

label{
    margin: 10px;
}


#box{
    margin-left: 30px;
    width: 400px;
}

#map{
    width: 450px;
    height: 324px;
    background-color: white;
    display: block;
    float: left;
    margin-left: 44px;

}

#fourthbox{
    display: flex;
	height: auto;
    margin-top: 23px;
}
#submit{
    width: 100px;
    height: 100px;
    background-color: #FB9E32;
    border-radius: 50%;
    box-shadow: 0 6px 10px 0 #000000;
    
    font-size: 20px;
    color: white;
    text-align: center;
    line-height: 70px;
    
    position: fixed;
    left: 50px;
    bottom: 50px;
}

#check-logo{
    width: 50px;
    margin: auto;
}